.site-content {
  width: 400px;
  margin: 5vh auto 0 auto;
  padding: 20px;
  background: #f6f7f7;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  font-size: 14px;
}

@media only screen and (max-width: 450px) {
  .site-content {
    width: 250px;
  }
}
